<section class="main" id="all">
  <div class="mainText">
      <h2 class="titleText">all</h2>
  </div>
  <div class="mainList">
    <div *ngFor="let all of alls">
      <div class="box">
          <div class="imgBx">
              <a routerLink="/details/{{all.id}}" routerLinkActive="active"><img src="{{all.imgSrc}}" class="fitImg"></a>
              <div class="content" style="position: absolute; bottom: 0;">
                <h2>{{all.name}}<br><span>{{all.description}}</span></h2>
            </div>
          </div>
      </div>
    </div>
