
<section class="footer">
  <ul class="sci">
      <li><a style="line-height: 62px;" title="DavidEatsRice#3658" href="discord link here"><img src="assets/images/discord.svg"></a></li>
      <li><a style="line-height: 69px;" title="davidy804@gmail.com" href="mailto: davidy804@gmail.com"><img src="assets/images/mail.svg"></a></li>
      <li><a style="line-height: 73px;" title="@DavidEatsRice" href="instagram link here"><img src="assets/images/instagram.svg"></a></li>
  </ul>
</section>
<div style="margin-bottom: 5%">
  <h4 class="copyrightText">Copyright © 2023 David Yuan. All rights reserved.</h4>
</div>
