
  <section class="banner">
      <img src="assets/images/test2.png" class="fitBg">
      <div class="content">
          <h2>title</h2>
          <p>undertitle</p>
      </div>
      <a href="home/#links"><div class="scroll-down"></div></a>
  </section>

<section class="project" id="links">
    <div class="conetnt">
        <h2 class="titleText">Links</h2>
    </div>
    <div class="projectList">
      <div class="box">
          <div class="imgBx">
              <a href="main"><img src="assets/images/test.png" class="fitImg"></a>
          </div>
          <div class="content">
              <h2>Current Mains<br><span>I am currently using</span></h2>
          </div>
      </div>
        <div class="box">
          <div class="imgBx">
              <a href="all"><img src="assets/images/test.png" class="fitImg"></a>
          </div>
          <div class="content">
            <h2>All Gear<br><span>Everything I have used</span></h2>
          </div>
        </div>
    </div>
</section>
