
  <section class="banner">
      <img src="assets/images/test2.png" class="fitBg">
      <div class="content">
          <h2>title</h2>
          <p>undertitle</p>
      </div>
      <a href="#about"><div class="scroll-down"></div></a>
  </section>

<section class="project" id="project">
    <div class="conetnt">
        <h2 class="titleText">Links</h2>
    </div>
    <div class="projectList">
        <div class="box">
            <div class="imgBx">
                <a href="main"><img src="images/project1.png" class="fitImg"></a>
            </div>
            <div class="content">
                <h2>current<br><span>description</span></h2>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <a href="project2.html"><img src="images/project2.png" class="fitImg"></a>
            </div>
            <div class="content">
                <h2>all<br><span>description2</span></h2>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <a href="project3.html"><img src="images/project3.png" class="fitImg"></a>
            </div>
            <div class="content">
                <h2>potential<br><span>description3</span></h2>
            </div>
        </div>
