
<section class="banner">
  <img src="assets/images/bannerbg.jpg" class="fitBg">
    <div class="content">
      <h2>DavidEatsRice</h2>
      <p>Gear Site</p>
    </div>
    <a href="home/#links"><div class="scroll-down"></div></a>
</section>
<section class="project" id="links">
    <div class="conetnt">
        <h2 class="linksText">Links</h2>
    </div>
    <div class="projectList">
      <div class="box">
          <div class="imgBx">
              <a href="main"><img src="assets/images/main.png" class="fitImg"></a>
          </div>
          <div class="content">
              <a href="main"><h2>Current<br><span>Mains</span></h2></a>
          </div>
      </div>
        <div class="box">
          <div class="imgBx">
              <a href="all"><img src="assets/images/all.png" class="fitImg"></a>
          </div>
          <div class="content">
            <a href="all"><h2>All<br><span>Gear</span></h2></a>
          </div>
        </div>
    </div>
</section>
