<div style="text-align: center" id="top">
<section class="details" id="details">
  <div *ngIf="all" class="mainText">
    <h2 class="titleText">{{all.name}}</h2>
      <img src="{{all.imgSrc}}" class="imgDt">
  </div>
  <div *ngFor="let detail of all.details" style="display: inline-block; width: 60%; margin-top: 1%">
    <p *ngIf="detail.caption" class="textDt" [innerHTML]="detail.caption"></p>
  </div>
  <div style="display: flex; text-transform: uppercase;">
    <a class="btn-slice" (click)="goBack()">
      <div class="top"><span>Back to List</span></div>
      <div class="bottom"><span>Back to List</span></div>
    </a>
  </div>
